{{#each errors}}
<div class="alert alert-danger">{{msg}}</div>
{{else}}

{{/each}}

<div class="card card-body">
  <h3>Edit Task</h3>
  {{!-- method over-ride  --}}
  <form action="/tasks/{{task.id}}?_method=PUT" method="POST">
    {{!-- a hidden class for method over-ride --}}
    <input type="hidden" name="_method" value="PUT" <div class="form-group">
    <div class="form-group" <label for="title">Title</label>
      <input type="text" class="form-control" name="title" value="{{task.title}}" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" name="details" required>{{task.details}}</textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>